* {
    font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

li {
    list-style-type: none;
}

body {
    margin: 0;
    font-size: 14px;
    color: #fff;
    background: #0e141f;
}

a {
    color: inherit;
    text-decoration: none;
}

p,
span {
    color: #a89e8a;
}

p>span {
    color: #ffcb36;
    font-weight: bold;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

#siteAbout {
    margin-top: -365px;
}

#siteAbout,
#siteSkills,
#sitePortfolio,
#siteComment {
    transform: translateY(-50px);
    transition: all 0.5s;
}

#siteAbout.slideUp,
#siteSkills.slideUp,
#sitePortfolio.slideUp,
#siteComment.slideUp {
    transform: translateY(0px);
}

#topNavBar .logo {
    float: left;
    font-size: 24px;
    font-weight: bold;
    padding-top: 1px;
    margin-left: 5%;
}

#topNavBar .rs {
    color: #ffcb36;
}

#topNavBar .card {
    color: #FFF;
}

#topNavBar .nomalSize {
    float: right;
}

#topNavBar .nomalSize>ul a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}

#topNavBar {
    padding: 20px 0 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    color: #fff;
    transition: padding 0.5s;
}

#topNavBar .topNavBarInner {
    padding: 0 10px;
    transition: padding 0.5s;
}

#topNavBar.sticky {
    background: #0e141f;
    color: #fff;
    padding: 10px 0 10px 0;
    box-shadow: 0px 10px 50px -5px #000;
    border-bottom: 1px solid #29303d;
}

#topNavBar.sticky .card {
    color: #fff;
}

#topNavBar.sticky .topNavBarInner {
    padding: 15px 20px 0px 20px;
}

#topNavBar.sticky .menuBtn>div {
    background: #fff;
}


#topNavBar nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#topNavBar .menuBtn {
    display: none;
    position: relative;
    float: right;
    cursor: pointer;
    width: 26px;
    height: 26px;
    padding: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#topNavBar .menuBtn>div {
    position: absolute;
    width: 26px;
    height: 2px;
    background: #fff;
}

#topNavBar .menuBtn>div::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 26px;
    height: 2px;
    background-color: currentColor;
}

#topNavBar .menuBtn>div::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 26px;
    height: 2px;
    background-color: currentColor;
}

#topNavBar .smallSize {
    text-align: center;
    color: #fff;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.3s cubic-bezier(0.5, 0, 0, 1);
    background: #131d31;

}

#topNavBar .smallSize>.closeBtn {
    position: absolute;
    width: 26px;
    height: 26px;
    padding: 5px;
    background: rgb(102, 105, 112);
    top: 100%;
    right: 0;
}

#topNavBar .smallSize>.closeBtn::before,
#topNavBar .smallSize>.closeBtn::after {
    content: '';
    position: absolute;
    width: 31px;
    height: 2px;
    background: #fff;
    top: 17px;
    right: 2px;
    transform: rotate(45deg)
}

#topNavBar .smallSize>.closeBtn::after {
    transform: rotate(-45deg)
}

#topNavBar .smallSize ul>li {
    padding: 15px 0;
    font-weight: bold;
    border-bottom: #29303d solid 1px;
}


#topNavBar .nomalSize>ul>li {
    margin: 0 17px;
    float: left;
    position: relative;
}

#topNavBar .nomalSize>ul>li::after,
#topNavBar .nomalSize>ul>li.highLight::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    width: 0%;
    background: #ffcb36;
    height: 3px;
    transition: all ease-out 0.3s;
}

#topNavBar .nomalSize>ul>li.active::after,
#topNavBar .nomalSize>ul>li.highLight::after {
    width: 100%;
}

#topNavBar .nomalSize>ul>li>.submenu {
    padding: 10px 0;
    position: absolute;
    top: 100%;
    right: 0px;
    margin-right: 100%;
    visibility: hidden;
    text-align: right;
    color: #3d4451;
    background: #fff;
    border-radius: 1px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    margin-top: 2px;
    opacity: 0;
    transition: all ease-out 0.3s;
}

#topNavBar .nomalSize>ul>li.active>.submenu {
    visibility: visible;
    opacity: 1;
    margin-right: 0;
}

#topNavBar .nomalSize>ul>li>.submenu li {
    padding-right: 30px;
    padding-left: 20px;
}

#topNavBar .nomalSize>ul>li>.submenu li a {
    font-weight: normal;
}

#topNavBar .nomalSize>ul>li.active>.submenu li:hover {
    color: #ffcb36;
    background: rgb(250, 250, 250);
}

.banner {
    background: url(../img/bg.jpg);
    background-position: center center;
    background-size: cover;
}

.banner .cover {
    height: 515px;
    background: rgba(14, 20, 31, 0.62);
}

.userCard {
    max-width: 940px;
    margin: 0 auto;
    box-shadow:0px 10px 50px -5px #000;
}

.userCard .picAndText {
    padding: 25px 25px 25px 25px;
    background: #0e141f;
    display: flex;
}

.userCard .picAndText .pic {
    float: left;
    display: flex;
   justify-content: center;
   flex-direction: column;
    width: 260px;
    padding: 10px;
}

.userCard .pic img {
    vertical-align: top;
}

.userCard .text {
    float: left;
    flex: 1;
    padding: 10px;
    margin-left: 20px;
}

.userCard .text>p {
    font-size: 16px;
    line-height: 40px;
}

.userCard .text .tips {
    display: inline-block;
    background: #131d31;
    color: #ffcb36;
    padding: 7px 12px;
    font-weight: bold;
    position: relative;
    border: solid #ffcb36 1PX;
}

.userCard .text .tips::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 100%;
    border: 5px solid transparent;
    border-left-color: #ffcb36;
    border-top-color: #ffcb36;
}

.userCard .downloadContainer {
    display: flex;
    justify-content: space-between;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes heartThrob {
    10% {
        transform: scale(1.02)
    }

    20% {
        transform: scale(1)
    }

    40% {
        transform: scale(1.02)
    }

    60% {
        transform: scale(1)
    }
}

.downloadResume-wapper a {
    display: inline-block;
    background: #131d31;
    padding: 7px 12px;
    font-weight: bold;
    color: #ffcb36;
    border: 1px solid #ffcb36;
    border-radius: 3px;
    transition: all 0.3s ease-out;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    animation: 1.5s heartThrob infinite;
    ;

}

.userCard .text h1 {
    margin-top: 25px;
    font-weight: bold;
}

.userCard .text hr {
    margin: 22px 0;
    border: 0;
    border-top: 1px solid #29303d;
}

.userCard .text>.basicInfo {
    display: flex;
}

.userCard .text>.basicInfo>dl {
    flex: 3;
}

.userCard .text>.basicInfo>.QRCode {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userCard .text>.basicInfo>.QRCode img {
    width: 100%;
}

.userCard .text dt,
dd {
    float: left;
    line-height: 32px;
}

.userCard .text dt {
    width: 25%;
    font-weight: bold;
}

.userCard .text dd {
    width: 75%;
    color: #a89e8a;
}

.userCard .pic img {
    display: block;
    width: 100%;
    box-shadow: 0px 10px 50px -5px #000;
    border-radius: 50%;
}


.media {
    background: #0e141f;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.media div {
    display: flex;
    padding-top: 25px;
    justify-content: center;
    align-items: center;
}

.media div a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
    transition: all ease-out 0.3s;
    border: solid transparent 1px;
}

.media a:hover {
    border: solid #ffcb36 1px;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.media svg {
    width: 20px;
    height: 20px;
}

.skills,
.portfolio,
.message {
    max-width: 740px;
    margin: 0 auto;
    margin-top: 50px;
}

.skills h2,
.portfolio h2,
.message h2 {
    font-weight: bold;
    margin-bottom: 32px;
    text-align: center;
}

.portfolio {max-width: 940px;padding:0 20px;box-sizing: border-box;}
.portfolio>.portfolioContainer { }
.portfolio>.portfolioContainer>.portfolioItem {width: 50%;padding: 15px;float: left;box-sizing: border-box;}
.portfolio>.portfolioContainer>.portfolioItem>div{box-shadow: 0px 10px 50px -5px #000;border: solid #131d31 1px;position: relative;overflow: hidden;}
.portfolio>.portfolioContainer>.portfolioItem>div>img{width: 100%;vertical-align: top;}
.portfolio>.portfolioContainer>.portfolioItem>div>.portfolioInfo{position: absolute;left: 0;width: 100%;bottom: -50%;opacity: 0;
    transition: all cubic-bezier(0.5, 0, 0, 1) 0.3s;}
.portfolio>.portfolioContainer>.portfolioItem>div>.portfolioInfo.active{bottom: 0px;top:auto;opacity: 1;}
.portfolio>.portfolioContainer>.portfolioItem>div>.portfolioInfo>div{cursor: pointer;background: #131d31;margin: 15px;padding: 10px;
    border-top: #ffcb36 solid 4px;}
.portfolio>.portfolioContainer>.portfolioItem>div>.portfolioInfo>div>p{}


.skills {

}

.message {
    max-width: 740px;
}

.message .userName {
    width: 100px;

}

.message .userMessage {
    width: 40%;
    flex: 0.7;
}

.message #leaveMessage .confirmBtn {
    color: #ffcb36;
    width: 100px;
    height: 40px;
    border: 0px;
    border-radius: 3px;
    background-color: #29303d;
    border: #ffcb36 solid 1px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease-out;
}

.message #leaveMessage .confirmBtn:hover {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.message>form {
    display: flex;
    justify-content: space-around;
}

.message>form .innerLeaveMessage {
    display: flex;
    position: relative;
}

.message>form .innerLeaveMessage span {
    position: absolute;
    bottom: 100%;
    color: #ffcb36;
    font-weight: bold;
    font-size: 16px;
}

.message>form .innerLeaveMessage>input {
    border: 0px;
    border-bottom: 1px solid #ffcb36;
    background: transparent;
    line-height: 24px;
    width: 100%;
    color: #a89e8a;
}

.message>form input:focus {
    outline: none;
}

.message>ul,
.message>form {
    padding: 15px 30px 30px 30px;
}

.message>ul>li {
    background: #0e141f;
    padding: 10px 20px;
    border: 1px solid #29303d;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 10px -1px #000;
}

.message>ul>li>span:nth-child(1) {
    font-size: 16px;
    color: #ffcb36;
}

.copyright p {
    padding-bottom: 10px;
    text-align: center;
    color: #555;
}

@media (max-width: 800px) {
    #topNavBar .menuBtn {
        display: block;
    }

    #topNavBar .nomalSize {
        display: none;
    }

    #topNavBar .smallSize.active {
        display: block;
        transform: translateX(0%);

    }

    .userCard .picAndText {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .userCard .picAndText .pic {
        width: 50%;
        justify-content: center;
        overflow: hidden;
    }
    .userCard .picAndText .pic img {
        width: 75%;
        display: block;
        margin: 0 auto;
    }

    #siteAbout {
        margin-top: -400px;
    }
    .portfolio>.portfolioContainer>.portfolioItem {width:100%;}
    .portfolio>.portfolioContainer>.portfolioItem>div {width:100%; }
    .portfolio>.portfolioContainer>.portfolioItem>div>.portfolioInfo{position: unset;opacity: 1;}
    .portfolio>.portfolioContainer>.portfolioItem>div>.portfolioInfo>div{margin: 0;}

}

@media (max-width: 500px) {
    .userCard .downloadContainer {
        flex-direction: column-reverse;
        align-items: center;
    }

    .userCard .text {
        padding-top: 0px;
    }

    .userCard .downloadContainer .downloadResume-wapper {
        margin-bottom: 30px;
        margin-top: 8px;
    }

    .userCard .basicInfo {
        flex-direction: column;
    }

    .userCard .basicInfo .QRCode {
        align-self: center;
        width: 50%;
    }

    .userCard .text h1 {
        text-align: center;
    }

    .userCard .text .tips::after {
        left: 38%;
    }

    .message>form {
        flex-direction: column;
    }

    .message>form .innerLeaveMessage {
        display: flex;
        position: relative;
        margin-bottom: 40px;
        flex: 1;
    }

    .message .userMessage {
        width: 100%;
    }

    .message>form .innerLeaveMessage>input {
        padding: 10px 0;

    }
}